
@{
    ViewData["Title"] = "Index";
}
@model System.DateTime;
<div class="container body-content bg-primary text-white">

    <h1 id="Greeting">@ViewData["Greeting"]</h1>
</div>
<h3 id="DateTimeDisplay">@ViewData["CurrentDateTime"]</h3>
<h4 id="DaysLeft">@ViewData["DaysTillNext"]</h4>
<a href="/Lab4/Page2" class="btn btn-success btn-lg">Page 2</a>
